<suite name="IoCSuite">

    <test name="XMLBeanReader">
        <classes>
            <class name="com.miskevich.ioc.util.reader.XMLBeanReaderTest"/>
        </classes>
    </test>

    <test name="ClassPathApplicationContext">
        <classes>
            <class name="com.miskevich.ioc.util.ClassPathApplicationContextTest"/>
        </classes>
    </test>

</suite>